.lista {
  display: flex;
  overflow: hidden;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.349);
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.349);
  border-radius: 30px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza corretamente */
  flex-direction: column;
  width: 390px;
  height: 250px;
  gap: 30px;
  justify-content: center;
  align-items: center; /* Centraliza os itens horizontalmente */
}

.DivProduto {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  width: 340px;
  height: 75px;
  border-radius: 10px;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.349);
  position: relative; /* Alterado de absolute para relative */
  transition: ease-in 0.3s;
}

.DivProduto:hover {
  transform: scale(1.05) rotate(5deg);
}


.DivProduto img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 16%;
  transform: translate(-50%, -50%); /* Centraliza a imagem */
}

.DivProduto h2 {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 220px;
  text-align: center;
  font-size: 24px;
  font-weight: 200;
  font-family: fantasy;
}

.DivProduto a {
  color: black;
}

@media screen and (max-width: 320px) {
  .lista {
    width: 250px;
    height: 240px;
  }
  .DivProduto {
    width: 200px;
    height: 70px;
  }
  .DivProduto h2 {
    font-size: 15px;
    width: 15px;
  }
  .DivProduto img {
    left: 26%;
  }
}
