* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  touch-action: none;
  overflow-y: auto; /* Permite rolagem vertical */
  overflow-x: hidden; /* Evita rolagem horizontal desnecessária */
  height: 100vh; /* Define a altura total da tela */
  background-image: url("fotos/P-aa.png");
  background-color: rgba(204, 173, 0, 0.445);
  background-size: 300px;
  background-repeat: repeat;
  animation: andar 10s linear infinite;
}

@keyframes andar {
  from { background-position-x: 0; }
  to   { background-position-x: 100%; }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.footer {
  display: flex;
  background-color: rgba(0, 0, 0, 0.137);
  position: fixed;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 3rem;
}

.IMAGEN-LOGO {
  width: 170px;
  height: 170px;
  background-color: rgba(255, 255, 255, 0.212);
  border-radius: 100%;
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.349);
  animation: flutuar 3s ease-in-out infinite alternate;
}

.box1 {
  display: flex;
  justify-content: center;
  flex-flow: column;
  width: 230px;
  height: 50px;
  border-radius: 20px;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Name {
  color: rgb(0, 0, 0);
  position: fixed;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  box-shadow: 0px 10px 10px -10px rgba(83, 83, 83, 0.486);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.social-media {
  display: flex;
  justify-content: space-around;
}

.social-media img {
  width: 25px;
  height: 25px;
  transition: transform 0.5s ease;
  cursor: pointer;
  margin: 9px;
  text-decoration: none;
}

.social-media img:hover {
  transform: scale(1.05) rotate(5deg);
}


a:focus,
a:active{
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

/*Animações*/
@keyframes flutuar {
  0% {
    top: 15%;
  }
  100% {
    top: 17%;
  }
}

@media screen and (max-width: 768px) {
  .IMAGEN-LOGO {
    width: 120px;
    height: 120px;
  }
}
